@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500&family=Roboto:wght@400;500&display=swap');
* {
    margin: 0px;
    padding: 0px;
    font-family: Arial;
}
.container {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
}
.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 52px;
    margin-bottom: 32px;
}
.top__logo {
    background-image: url(data:image/svg+xml,%3Csvg%20width%3D%22151%22%20height%3D%2224%22%20viewBox%3D%220%200%20151%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M12.1105%200.633247H0.237221C0.0789109%200.633247%20-0.000244141%200.712402%20-0.000244141%200.870712V17.335C-0.000244141%2017.4933%200.0789109%2017.5724%200.237221%2017.5724H4.27413C4.43244%2017.5724%204.51159%2017.4933%204.51159%2017.335V4.591H10.7648C10.844%204.591%2010.9231%204.51184%2011.0023%204.43269C11.4772%203.32452%2011.9522%202.13719%2012.4271%200.949867V0.712402C12.2688%200.712402%2012.1896%200.633247%2012.1105%200.633247ZM45.5139%2013.6147C45.5139%2013.5355%2045.4347%2013.4564%2045.3556%2013.4564H45.1181C44.1683%2013.773%2042.3477%2014.1688%2041.0021%2014.1688C38.2316%2014.1688%2036.886%2013.4564%2036.886%209.10283C36.886%205.69917%2037.2818%204.03691%2041.0021%204.03691C42.0311%204.03691%2043.0601%204.19522%2044.2474%204.591C44.3266%204.591%2044.4849%204.591%2044.4849%204.43269C44.9598%203.56198%2045.5139%202.53297%2046.1471%201.18733V0.949868C46.1471%200.870713%2046.068%200.791558%2045.9888%200.791558C44.4057%200.316628%2042.4268%200.0791626%2040.6854%200.0791626C34.828%200.0791626%2032.2158%202.77043%2032.2158%209.02368C32.2158%2015.3561%2034.828%2018.1265%2040.6854%2018.1265C42.1102%2018.1265%2045.039%2017.8099%2046.4637%2017.2558C46.6221%2017.1766%2046.6221%2017.0975%2046.6221%2017.0183C46.7804%2016.9392%2045.5139%2013.6147%2045.5139%2013.6147ZM21.3716%200.158318C15.5933%200.158318%2013.2978%202.61212%2013.2978%209.10283C13.2978%2015.6727%2015.5141%2018.1265%2021.3716%2018.1265C27.2291%2018.1265%2029.5246%2015.5935%2029.5246%209.10283C29.5246%202.69128%2027.2291%200.158318%2021.3716%200.158318ZM21.3716%2014.3271C18.6803%2014.3271%2017.8888%2013.6147%2017.8888%209.18199C17.8888%204.43269%2018.7595%204.03691%2021.3716%204.03691C23.9837%204.03691%2024.9336%204.43269%2024.9336%209.18199C24.9336%2013.6147%2024.0629%2014.3271%2021.3716%2014.3271Z%22%20fill%3D%22%230065B1%22%2F%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M132.98%200.63324H121.107C120.949%200.63324%20120.87%200.712395%20120.87%200.870705V17.3349C120.87%2017.4933%20120.949%2017.5724%20121.107%2017.5724H125.144C125.302%2017.5724%20125.381%2017.4933%20125.381%2017.3349V4.59099H131.635C131.714%204.59099%20131.872%204.51184%20131.872%204.43268C132.347%203.32451%20132.822%202.13719%20133.297%200.94986V0.712395C133.059%200.712395%20133.059%200.63324%20132.98%200.63324ZM117.941%200.712395H113.825C113.746%200.712395%20113.587%200.79155%20113.587%200.870705C112.954%203.40367%20111.688%207.67804%20109.867%2012.1107L105.751%200.79155C105.751%200.712395%20105.593%200.63324%20105.513%200.63324H101.397C101.318%200.63324%20101.239%200.712395%20101.16%200.712395C101.081%200.79155%20101.081%200.870705%20101.16%200.94986L107.334%2017.7307C106.701%2018.9972%20106.068%2020.0262%20105.593%2021.1344C105.197%2021.8468%20104.801%2022.6383%20104.326%2023.4299C104.247%2023.509%20104.326%2023.5882%20104.326%2023.6673C104.405%2023.7465%20104.484%2023.8257%20104.564%2023.8257H108.996C109.075%2023.8257%20109.155%2023.7465%20109.234%2023.6673C109.946%2022.2426%20110.975%2020.1845%20111.846%2018.1265C114.458%2011.9524%20116.595%206.25325%20118.099%200.94986C118.099%200.870705%20118.099%200.79155%20118.02%200.712395H117.941ZM79.7089%2013.6147C79.7089%2013.5355%2079.6298%2013.4564%2079.5506%2013.4564H79.3132C78.3633%2013.773%2076.5427%2014.1687%2075.1971%2014.1687C72.4267%2014.1687%2071.081%2013.4564%2071.081%209.10283C71.081%205.69916%2071.4768%204.03691%2075.1971%204.03691C76.2261%204.03691%2077.2551%204.19522%2078.4425%204.59099C78.6008%204.59099%2078.6799%204.59099%2078.6799%204.43268C79.1549%203.56198%2079.7089%202.53296%2080.3422%201.18733V0.94986C80.3422%200.870705%2080.263%200.79155%2080.1839%200.79155C78.5216%200.237465%2076.5427%200%2074.8805%200C69.1022%200%2066.4901%202.69127%2066.4901%208.94452C66.4901%2015.2769%2069.1022%2018.0473%2074.9596%2018.0473C76.3844%2018.0473%2079.3132%2017.7307%2080.738%2017.1766C80.8963%2017.0975%2080.8963%2017.0183%2080.8963%2016.9392C80.8963%2016.86%2079.7089%2013.6147%2079.7089%2013.6147ZM65.0653%200.712395H60.9492C60.7909%200.712395%2060.7117%200.79155%2060.7117%200.870705C60.0785%203.40367%2058.812%207.67804%2056.9915%2012.1107L52.9546%200.712395C52.9546%200.63324%2052.7962%200.554085%2052.7171%200.554085H48.601C48.5219%200.554085%2048.4427%200.63324%2048.3636%200.63324C48.2844%200.712395%2048.2844%200.79155%2048.3636%200.870705L54.6168%2017.6516C53.9836%2018.918%2053.3503%2020.0262%2052.8754%2021.0552C52.4796%2021.7676%2052.0839%2022.5592%2051.6089%2023.3507C51.5298%2023.4299%2051.6089%2023.509%2051.6089%2023.5882C51.6881%2023.6673%2051.7672%2023.7465%2051.8464%2023.7465H56.2791C56.3582%2023.7465%2056.4374%2023.6673%2056.5165%2023.5882C57.2289%2022.1634%2058.2579%2020.1054%2059.1286%2018.0473C61.7408%2011.8733%2063.8779%206.17409%2065.3819%200.870705C65.3819%200.79155%2065.3819%200.712395%2065.3027%200.63324C65.2236%200.712395%2065.1444%200.712395%2065.0653%200.712395ZM150.157%200.63324H146.12C145.962%200.63324%20145.883%200.712395%20145.883%200.870705V13.6147C145.012%2013.8521%20144.141%2013.9313%20143.112%2013.9313C140.421%2013.9313%20139.867%2013.1397%20139.867%209.57776V0.870705C139.867%200.712395%20139.788%200.63324%20139.629%200.63324H135.592C135.434%200.63324%20135.355%200.712395%20135.355%200.870705V10.0527C135.355%2015.7518%20137.255%2018.0473%20142.241%2018.0473C145.012%2018.0473%20148.257%2017.3349%20150.078%2016.6226C150.157%2016.6226%20150.236%2016.4642%20150.236%2016.3851V0.870705C150.394%200.712395%20150.315%200.63324%20150.157%200.63324ZM98.1521%200.63324H85.883C85.7247%200.63324%2085.6456%200.712395%2085.6456%200.870705C85.329%206.41156%2084.2999%2012.4273%2082.796%2017.2558V17.4141C82.8752%2017.4933%2082.9543%2017.4933%2083.0335%2017.4933H87.3078C87.387%2017.4933%2087.5453%2017.4141%2087.5453%2017.3349C88.7326%2013.6147%2089.6825%208.6279%2089.9991%204.51184H94.036V17.3349C94.036%2017.4933%2094.1152%2017.5724%2094.2735%2017.5724H98.3104C98.4687%2017.5724%2098.5478%2017.4933%2098.5478%2017.3349V0.870705C98.3895%200.712395%2098.3104%200.63324%2098.1521%200.63324Z%22%20fill%3D%22%23EE3F58%22%2F%3E%3C%2Fsvg%3E);
    background-size: contain;
    background-repeat: no-repeat;
    width: 126px;
    height: 24px; 
    margin-left: 27px;
    margin-top: 8px;
}
.top__lang {
    display: flex;
    align-items: center;
    margin-right: 27px;
}
.top__lang h3 {
    font-size: 16px;
}
.top__lang svg {
    margin-right: 8px;
}
.status {
    position: relative;
}
.status img {
    height: 170px;
    width: 350px;
}
.status__inner {
    position: absolute;
    top: 22px;
    bottom: 22px;
    left: 30px;
    right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.status__inner h4 {
    font-family: arial;
    font-size: 20px;
    line-height: 24px;
    color: white;
    text-align: center;
}
.mt-12 {
    margin-top: 12px;
}
.button {
    background-color: #fff;
    width: 158px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 24px;
}
.button p {
    font-size: 14px;
    font-weight: 500;
}
.date-container {
    display: flex;
    justify-content: center;
}
.date {
    display: flex;
    flex-direction: row;
    margin-top: 17px;
}
.date svg {
    margin-right: 12px;
}
.date p {
    font-size: 14.5px;
    color: rgba(102, 114, 127, 0.8);
    font-weight: bold;
}
.line {
    margin-top: 29px;
    margin-bottom: 10px;
    height: 1px;
    width: 350px;
    background-color: rgba(102, 114, 127, 0.15);
}
#name {
    font-size: 16px;
    line-height: 24px;
    margin-top: 18px;
}
.person {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.person p {
    font-family: Roboto;
    text-align: center;
    font-size: 14px;
    margin-top: 8px;
}
.person p b {
    color: rgba(102, 114, 127, 0.8);
    font-weight: bold;
    font-size: 14.5px;
}
.close {
    margin-top: 24px;
}
.close a {
    display: block;
    border: 2px solid #0d4cd3;
    border-radius: 8px;
    padding: 14px 0;
    text-align: center;
    text-decoration: none;
    color: #0d4cd3;
}